<div class = "row">
    <div class = "col-md-12">
        <h1 class = "heading"> Smart Home System</h1>
    </div>
</div>  
<br>
<div class = "container">
    <div class = "row">
        <div class = "col-md-6">
           <a href = "/" , onclick = "loadDocOn()", id = "bulbOn", class = "btn btn-success btn-lg">
               LIGHT ON 
           </a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class = "row">
        <div class = "col-md-6">
           <a href = "/" , onclick = "loadDocOff()" , id = "bulbOff" , class = "btn btn-danger btn-lg">
               LIGHT OFF
           </a>
        </div>
    </div>
</div>
